<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/argos</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">root</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <mapping resource="argo/ArgUsuarios.hbm.xml"/>
    <mapping resource="com/suricata/argos/wsCRM/dao/Usuario.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/dao/seguridad/Usuario.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/dao/seguridad/Usuario.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/dao/seguridad/Usuario.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/dao/seguridad/Usuario.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/dao/seguridad/Usuario.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/dao/seguridad/Usuario.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/dao/seguridad/Usuario.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/dao/seguridad/Usuario.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/dao/seguridad/Usuario.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/dao/seguridad/Estado.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/dao/seguridad/Oportunidad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/dao/seguridad/Contacto.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/dao/seguridad/Tecnologia.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/dao/seguridad/Tipoproyecto.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/dao/seguridad/Empresa.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tipoproyecto.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Oportunidad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Estado.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Contacto.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tecnologia.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Usuario.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Empresa.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tipoproyecto.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Oportunidad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Estado.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Contacto.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tecnologia.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Usuario.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Empresa.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tipoproyecto.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Oportunidad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Estado.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Contacto.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tecnologia.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Actividad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Usuario.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tipoactividad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Empresa.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tipoproyecto.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Oportunidad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Estado.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Contacto.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tecnologia.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Actividad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Usuario.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tipoactividad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Empresa.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Oportunidad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Seguimiento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Estado.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Usuario.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tipoactividad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tipoproyecto.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Contacto.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tecnologia.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Actividad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tiposeguimiento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Seguimientousuario.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Empresa.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Oportunidad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Seguimiento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Estado.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Usuario.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tipoactividad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tipoproyecto.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Contacto.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tecnologia.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Actividad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tiposeguimiento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Seguimientousuario.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Empresa.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Oportunidad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Seguimiento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Estado.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Usuario.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tipoactividad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tipoproyecto.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Contacto.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tecnologia.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Actividad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tiposeguimiento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Empresa.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Seguimientousuario.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Documento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Oportunidad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Seguimiento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Estado.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Usuario.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tipoactividad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tipoproyecto.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Contacto.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tecnologia.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Actividad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tiposeguimiento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Empresa.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Seguimientousuario.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Documento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Oportunidad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Seguimiento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Estado.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Usuario.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tipoactividad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tipoproyecto.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Contacto.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tecnologia.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Actividad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tiposeguimiento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Empresa.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Seguimientousuario.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Documento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Oportunidad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Seguimiento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Estado.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Usuario.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tipoactividad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tipoproyecto.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Contacto.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tecnologia.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Actividad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tiposeguimiento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Empresa.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Seguimientousuario.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Documento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Oportunidad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Seguimiento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Estado.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Usuario.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tipoactividad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tipoproyecto.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Contacto.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tecnologia.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Actividad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tiposeguimiento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Seguimientousuario.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Empresa.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Documento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Oportunidad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Seguimiento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Estado.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Usuario.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tipoactividad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tipoproyecto.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Contacto.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tecnologia.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Actividad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tiposeguimiento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Seguimientousuario.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Empresa.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Documento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Oportunidad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Seguimiento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Estado.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Usuario.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tipoactividad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tipoproyecto.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Contacto.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tecnologia.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Actividad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tiposeguimiento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Seguimientousuario.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Empresa.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Documento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Oportunidad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Seguimiento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Estado.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Usuario.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tipoactividad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tipoproyecto.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Contacto.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tecnologia.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Actividad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tiposeguimiento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Seguimientousuario.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Empresa.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Documento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Oportunidad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Seguimiento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Estado.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Usuario.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tipoactividad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tipoproyecto.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Contacto.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tecnologia.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Actividad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tiposeguimiento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Seguimientousuario.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Empresa.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Documento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Oportunidad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Seguimiento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Estado.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Usuario.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tipoactividad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tipoproyecto.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Contacto.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tecnologia.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Actividad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tiposeguimiento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Seguimientousuario.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Empresa.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Documento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Oportunidad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Seguimiento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Estado.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Usuario.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tipoactividad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tipoproyecto.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Contacto.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tecnologia.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tiposeguimiento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Seguimientousuario.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Empresa.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Documento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Oportunidad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Seguimiento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Estado.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Usuario.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tipoactividad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tipoproyecto.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Contacto.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tecnologia.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Actividad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tiposeguimiento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Seguimientousuario.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Empresa.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Documento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Oportunidad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Seguimiento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Estado.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Usuario.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tipoactividad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tipoproyecto.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Contacto.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tecnologia.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Actividad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tiposeguimiento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Seguimientousuario.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Empresa.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Documento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Oportunidad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Seguimiento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Estado.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Usuario.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tipoactividad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tipoproyecto.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Contacto.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tecnologia.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Actividad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tiposeguimiento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Seguimientousuario.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Empresa.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Documento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Oportunidad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Seguimiento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Estado.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Usuario.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tipoactividad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tipoproyecto.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Contacto.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tecnologia.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Actividad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tiposeguimiento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Seguimientousuario.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Empresa.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Documento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Oportunidad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Seguimiento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Estado.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Usuario.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tipoactividad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tipoproyecto.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Contacto.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tecnologia.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Actividad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tiposeguimiento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Seguimientousuario.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Empresa.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Documento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Oportunidad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Seguimiento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Estado.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Usuario.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tipoactividad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tipoproyecto.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Contacto.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tecnologia.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Actividad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tiposeguimiento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Seguimientousuario.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Empresa.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Documento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Oportunidad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Seguimiento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Estado.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Usuario.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tipoactividad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tipoproyecto.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Contacto.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tecnologia.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Actividad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tiposeguimiento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Seguimientousuario.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Empresa.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Documento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Oportunidad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Seguimiento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Estado.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Usuario.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tipoactividad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tipoproyecto.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Contacto.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tecnologia.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Actividad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tiposeguimiento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Seguimientousuario.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Empresa.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Documento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Oportunidad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Seguimiento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Estado.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Usuariorol.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Usuario.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tipoactividad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tipoproyecto.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Rol.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Contacto.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tecnologia.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Actividad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tiposeguimiento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Seguimientousuario.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Empresa.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Documento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Oportunidad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Seguimiento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Estado.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Usuariorol.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Usuario.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tipoactividad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tipoproyecto.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Rol.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Contacto.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tecnologia.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Actividad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tiposeguimiento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Seguimientousuario.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Empresa.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Documento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Oportunidad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Seguimiento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Estado.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Usuariorol.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Usuario.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tipoactividad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tipoproyecto.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Rol.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Contacto.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tecnologia.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Actividad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tiposeguimiento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Seguimientousuario.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Empresa.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Documento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Oportunidad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Seguimiento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Estado.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Usuariorol.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Usuario.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tipoactividad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tipoproyecto.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Rol.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Contacto.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tecnologia.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Actividad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tiposeguimiento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Seguimientousuario.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Empresa.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Documento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Oportunidad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Seguimiento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Seguimientotiposeguimiento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Estado.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Usuariorol.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Usuario.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tipoactividad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tipoproyecto.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Rol.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Contacto.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tecnologia.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Actividad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tiposeguimiento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Seguimientousuario.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Empresa.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Documento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Oportunidad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Seguimiento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Seguimientotiposeguimiento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Estado.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Usuariorol.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Usuario.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tipoactividad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tipoproyecto.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Rol.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Contacto.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tecnologia.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Actividad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tiposeguimiento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Empresa.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Seguimientousuario.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Documento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Oportunidad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Seguimiento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Seguimientotiposeguimiento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Estado.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Usuariorol.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Usuario.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tipoactividad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tipoproyecto.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Rol.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Contacto.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tecnologia.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Actividad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tiposeguimiento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Empresa.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Seguimientousuario.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Documento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Oportunidad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Seguimiento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Seguimientotiposeguimiento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Estado.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Usuariorol.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Usuario.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tipoactividad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tipoproyecto.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Rol.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Contacto.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tecnologia.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Actividad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tiposeguimiento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Empresa.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Seguimientousuario.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Documento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Oportunidad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Seguimiento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Seguimientotiposeguimiento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Estado.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Usuariorol.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Usuario.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tipoactividad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tipoproyecto.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Rol.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Contacto.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tecnologia.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Actividad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tiposeguimiento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Empresa.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Seguimientousuario.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Documento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Oportunidad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Seguimiento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Seguimientotiposeguimiento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Estado.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Usuariorol.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Usuario.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tipoactividad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tipoproyecto.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Rol.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Contacto.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tecnologia.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Actividad.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Tiposeguimiento.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Empresa.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Seguimientousuario.hbm.xml"/>
    <mapping resource="com/suricata/argos/WS/entidades/Documento.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
